.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
    
}

.input-window {
    text-align: end;
    font-size: x-large;
    
}

table {
    border-collapse: collapse;
  }

td {
padding: 10px;
border: 1px solid lightgray;
}

 